<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <img src="/css/logo.png" alt="Logo" class="logo" />
      <div class="user-info">
        <span>Welcome, <%= userFullName %></span>
        <a href="/sign-out">Sign Out</a>
      </div>
    </header>

    <nav class="vertical-menu">
      <ul>
        <li><a href="/compose">Compose</a></li>
        <li><a href="/inbox">Inbox</a></li>
        <li><a href="/outbox">Outbox</a></li>
      </ul>
    </nav>
  </body>
</html>
